*

!/.gitignore
!/.gitconfig
!/.gitignore_global
!/.i3/
!/.i3/**
!/.xmonad/
!/.xmonad/xmonad.hs
!/Xmodmap
!/.zshrc
!/.oh-my-zsh
!/.oh-my-zsh/**
!/.config/
!/.config/termite/
!/.config/termite/**
!/.config/nvim/
!/.config/nvim/**
!/.xscreensaver
